

.group-name {
	text-align: center;
	padding-bottom: 30px;

}

.table-div {
	justify-content: center;
	display: flex;
	padding-bottom: 30px;
	
}

th, td {
    padding: 10px;
	text-align: center;
}

th{
	background-color: #7F1431;;
	color: white;
	padding-left: 33px;
}



.wpos{
	text-align: center;
}

.wpos td{
	color: black;
}

.pos{
	text-align: center;
}


table .col{
	border-bottom: 1px solid #FFFFFF;
}

.col {
	padding-left: 200px;
}

img {
	display: block;
	
}

.icons {
	width: 40px;
	height: 40px;
}

.name {
	padding-left: 40%;
}

.plus-img {
	width: 25px;
	height: 25px;
}
.plus {
	padding-left: 47%;
}

.centarr {
    padding-left: 42.7%;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.centarrr {
	padding-left: 45.5%;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.namee {
	padding-left: 45.5%;
}

.iconsforgroup {
	width: 20px;
	height: 20px;
	
	display: inline-block;
}
