

.group-name {
	text-align: center;
	padding-bottom: 30px;

}

.table-div {
	justify-content: center;
	display: flex;
	padding-bottom: 50px;
	
}

th, td {
    padding: 10px;
}

th{
	background-color: #7F1431;;
	color: white;
	padding-left: 45px;
}



.wpos{
	text-align: center;
}

.wpos td{
	color: black;
}

.pos{
	text-align: center;
}


table .col{
	border-bottom: 1px solid #FFFFFF;
}

.col {
	padding-left: 200px;
}

img {
	display: block;
}